.title-bar{
    color: white;
    display: flex;
    height: 44px;
    width: 1920px;
    left: 0px;
    top: 0px;
    border-radius: 0px;  
background: #020202;
position: absolute;

    }
    
    .left-title
    {
     margin-left: 10%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
   /* display: flex; */
      align-items: center;
     margin-top: 1vw;
      
      /* Color - 5 */
      
      color: #A2A6B0;
      
       
    }
    .right-title
    {
       margin-left: 30%;
     margin-top: 1vw;
     font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
   /* display: flex; */
      align-items: center;
    }