

.price
{
    font-weight: 500;
    margin-left: 1px;
}
.arrow-drop-up
{
    display: grid;
    margin-bottom: 50px;
}
.counter
{
    display: flex;
    margin-top: 2px;
    margin-left: 20px;
}
.quantity
{
    display: flex;
}
.about-container
{
    display: flex;
}
.options-container
{
    display: flex;
    margin-left: 50%;
}
@media only screen and (max-width: 995px) {
    .main-navbar{
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        z-index: 2;
    }
}
