


.App {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
}


.about-container
{
    display: flex;
  
}



@media screen and (max-width: 375px) {
 .about-container  { 
    display: none;
  }
}